{% block scripts %}
<!-- Optional JavaScript -->
{#{{ bootstrap.load_js() }}#}
{% endblock %}
<footer class="app-footer">
    <div class="container text-center py-3">
        <!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
        <small class="copyright">Designed by <a class="app-link" href="http://bgfcl.org.bd" target="_blank">ICT</a> for BGFCL</small>

    </div>
</footer><!--//app-footer-->
<!-- Javascript -->
<script src="/vendor/popper.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Charts JS -->
<script src="/vendor/chart.js/chart.min.js"></script>
<script src="/js/index-charts.js"></script>

<!-- Page Specific JS -->
<script src="/js/app.js"></script>