{% extends "layout.html" %}

{% block content %}
    <div class="container-xl">
        <div class="row g-3 mb-4 align-items-center justify-content-between">
            <div class="col-auto">
                <h1 class="app-page-title mb-0">Score Sheet of {{ board.title }}</h1>
            </div>
            <div class="col-auto">
                <div class="page-utilities">
                    <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
                        <div class="col-auto">
                            <i class="fa-regular fa-calendar-alt"></i> {{ _cfg.datetime|str_date }}
                        </div>
                    </div><!--//row-->
                </div><!--//table-utilities-->
            </div><!--//col-auto-->
        </div><!--//row-->

        <div class="app-card app-card-orders-table shadow-sm mb-5">
            <div class="app-card-body">
                <div class="table-responsive">
                    <table class="table table-bordered app-table-hover mb-0 text-center">
                        <thead>
                        <tr>
                            <th class="cell" rowspan="2">Round</th>
                            <th class="cell" colspan="2">Pair</th>
                            <th class="cell" rowspan="2">Contract</th>
                            <th class="cell" rowspan="2">By</th>
                            <th class="cell" rowspan="2">Tricks Win</th>
                            <th class="cell" colspan="2">Score</th>
                            <th class="cell" colspan="2">Match Points</th>
                        </tr>
                        <tr>
                            <th class="cell">NS</th>
                            <th class="cell">EW</th>

                            <th class="cell">NS</th>
                            <th class="cell">EW</th>

                            <th class="cell">NS</th>
                            <th class="cell">EW</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for event in items %}
                        <tr>
                            <td class="cell">#{{ event.id }}</td>
                            <td class="cell"><span class="truncate">{{ event.team1.title }}</span></td>
                            <td class="cell"><span class="truncate">{{ event.team2.title }}</span></td>
                            <td class="cell"></td>
                            <td class="cell"></td>
                            <td class="cell"></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {#<table class="table app-table-hover mb-0 text-left">
                        <thead>
                        <tr>
                            <th class="cell">ID</th>
                            <th class="cell">Title</th>
                            <th class="cell">Created</th>
                            <th class="cell">Status</th>
                            <th class="cell">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for event in items %}
                        <tr>
                            <td class="cell">#{{ event.id }}</td>
                            <td class="cell"><span class="truncate">{{ event.title }}</span></td>
                            <td class="cell">{{ event.created|str_date }}<span class="note">{{ event.created|str_time }}</span></td>
                            <td class="cell">
                                {% if event.status == 1 %}
                                    <span class="badge bg-success">Active</span>
                                {% else %}
                                    <span class="badge bg-warning">Terminated</span>
                                {% endif %}
                            </td>
                            <td class="cell"><a class="btn-sm app-btn-secondary" href="/boardDetails/{{ event.id }}">View</a></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>#}
                </div><!--//table-responsive-->

            </div><!--//app-card-body-->
        </div><!--//app-card-->
    </div>
{% endblock %}