{% extends "layout.html" %}

{% block content %}
    <div class="container-md">
        <h1 class="app-page-title">Create Event</h1>
        <hr class="mb-4">
        <div class="app-card app-card-settings shadow-sm p-4">
            <div class="app-card-body">
                <form class="settings-form" action="/createEvent02" method="post">
                    <div class="mb-3">
                        <label for="setting-input-1" class="form-label">Team Prefix</label>
                        <input name="prefix" class="form-control" id="setting-input-1" required="">
                    </div>
                    <div class="mb-3">
                        <label for="setting-input-2" class="form-label">No of Team</label>
                        <input type="number" name="count" min="2" max="10" class="form-control" required="">
                    </div>
                    <button type="submit" class="btn app-btn-primary">Submit</button>
                </form>
            </div><!--//app-card-body-->
        </div>
    </div>
{% endblock %}