{% extends "layout.html" %}

{% block content %}
    <div class="container-xl">
        <div class="row g-3 mb-4 align-items-center justify-content-between">
            <div class="col-auto">
                <h1 class="app-page-title mb-0">Rounds of Schedule - {{ schedule_id }}</h1>
            </div>
            <div class="col-auto">
                <div class="page-utilities">
                    <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
                        <div class="col-auto">
                            <form class="table-search-form row gx-1 align-items-center">
                                <div class="col-auto">
                                    <input type="text" id="search-orders" name="searchorders" class="form-control search-orders" placeholder="Search">
                                </div>
                                <div class="col-auto">
                                    <button type="submit" class="btn app-btn-secondary">Search</button>
                                </div>
                            </form>

                        </div><!--//col-->
                        <div class="col-auto">

                            <select class="form-select w-auto">
                                <option selected="" value="option-1">All</option>
                                <option value="option-2">This week</option>
                                <option value="option-3">This month</option>
                                <option value="option-4">Last 3 months</option>
                            </select>
                        </div>
                        <div class="col-auto">
                            <a class="btn app-btn-secondary" href="#"><i class="fa-regular fa-circle-down"></i> Download CSV</a>
                        </div>
                    </div><!--//row-->
                </div><!--//table-utilities-->
            </div><!--//col-auto-->
        </div><!--//row-->

        <div class="app-card app-card-orders-table shadow-sm mb-5">
            <div class="app-card-body">
                <div class="table-responsive">
                    <table class="table app-table-hover mb-0 text-left">
                        <thead>
                        <tr>
                            <th class="cell">ID</th>
                            <th class="cell">Title</th>
                            <th class="cell">Created</th>
                            <th class="cell">Status</th>
{#                            <th class="cell">Actions</th>#}
                        </tr>
                        </thead>
                        <tbody>
                        {% for round in items %}
                        <tr>
                            <td class="cell">#{{ round.id }}</td>
                            <td class="cell"><span class="truncate">{{ round.title }}</span></td>
                            <td class="cell">{{ round.created|str_date }}<span class="note">{{ round.created|str_time }}</span></td>
                            <td class="cell">
                                {% if round.status == 1 %}
                                    <span class="badge bg-success">Active</span>
                                {% else %}
                                    <span class="badge bg-warning">Terminated</span>
                                {% endif %}
                            </td>
{#                            <td class="cell"><a class="btn-sm app-btn-secondary" href="/scheduleDetails/{{ round.id }}">View</a></td>#}
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div><!--//table-responsive-->

            </div><!--//app-card-body-->
        </div><!--//app-card-->
        <nav class="app-pagination">
            <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav><!--//app-pagination-->
    </div>
{% endblock %}